---
---
<a href="/">Home</a>
<a href="/notes/">Notes</a>

<style>
    a{
        color: white;
        text-decoration: none;
        margin-right: 1em;
    }
    a:hover{
        text-decoration: underline;
        background-color: aqua;
    }
</style>